*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(178, 169, 186);
}

.main-container{
    background-color: rgb(137, 213, 226);
    width: 700px;
    background: linear-gradient(linear-gradient);
    margin: 40px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgb(189, 175, 202);
    border: none;
}

.title{
    color: hwb(57 16% 76%);
    font-size: 38px;
    position: absolute;
    top: 35%;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    font-size: 66px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

input{
    background: rgb(214, 224, 162);
    padding: 20px;
    margin: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-box button{
    cursor: pointer;
    background-color: rgb(214, 224, 162);
    color: black;
    font-size: 24px;
    padding: 15px;
    border-radius: 5px;
    width: 25%;
    margin: 10px 20px;
    border: none;
}

.input-box button:hover{
    color: black;
    background-color: rgb(1, 146, 230);
}

#result{
    font-size: 28px;
    position: absolute;
    top: 65%;
    left: 30%;
    margin-left: 100px;
} 

#result span{
    color: rgb(37, 34, 214);
    font-weight: bold;
}